///BULMA Variables START
$background-color: $main-gray;
$text-color: #fff;
$border-color: $main-blue;
//sizes
$navbar-height: 4rem;
$navbar-item-img-max-height: 45px;

//backgrounds
$navbar-background-color: $background-color;
$navbar-item-hover-background-color: $background-color;
$navbar-dropdown-background-color: $background-color;

//colors
$navbar-item-color: $text-color;
$navbar-dropdown-arrow: $main-blue;
$navbar-item-hover-color: $dark-gray;

//borders
$navbar-tab-hover-border-bottom-color: $border-color;
$border: $border-color;
$navbar-divider-background-color: $border-color;
///BULMA Variables END
