<template>
  <div class="home">
    <Hero />
    <LPWAN />
    <Options />
  </div>
</template>

<script>
// @ is an alias to /src
import Hero from '@/components/Hero.vue'
import LPWAN from '@/components/LPWAN.vue'
import Options from '@/components/Options.vue'

export default {
  name: 'home',
  components: {
    Hero,
    LPWAN,
    Options
  }
}
</script>
