<template>
  <section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column">
            <h1 class="title is-size-1">Edge 2.0</h1>
            <h2 class="subtitle is-size-3">Consume Data at the Source</h2>
          </div>
          <div class="column content is-medium">
            <p class="is-size-4">
              From residential solar panels to oil and gas pressure pumping,
              Rheidiant powers many of the companies leading the revolution in
              energy and power.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-foot">
      <nav class="is-boxed is-fullwidth">
        <div class="container has-text-centered">
          <a data-scroll href="#lpwan">
            <span class="icon arrow-down">
              <i class="icon ion-ios-arrow-down is-large"></i>
            </span>
          </a>
        </div>
      </nav>
    </div>
  </section>
</template>

<script>
import SmoothScroll from 'smooth-scroll'

export default {
  mounted() {
    var scroll = new SmoothScroll('[data-scroll]', {
      speed: 2000,
      // Easing
      easing: 'easeOutCubic' // Easing pattern to use
    })
  }
}
</script>

<style lang="scss" scoped>
@import '@/stylesheets/variables/_colors.scss';
.hero {
  background-image: url('../assets/hero2.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.icon.ion-ios-arrow-down.is-large {
  font-size: 3em;
  color: white;

  text-shadow: 2px 2px 4px $dark-gray;

  &:hover {
    color: $primary;
  }
}

// Animation
@keyframes jump {
  0% {
    top: -10px;
  }
  50% {
    top: 0;
  }
  100% {
    top: -10px;
  }
}

// Button/Arrow
.arrow-down {
  position: relative;
  animation: jump 2.25s infinite;
}
</style>
