<template>
  <section id="lpwan" class="section is-medium">
    <div class="container has-text-centered">
      <h1 class="title">
        LPWAN (low-power wide-area network) connectivity has triggered a
        low-data revolution in Industrial IoT.
      </h1>
      <h2 class="subtitle">
        IT/OT networks now extend far beyond the edge servers.
      </h2>
    </div>
  </section>
</template>

<style lang="scss" scoped>
#lpwan .container {
  max-width: 769px;
}
</style>
