<template>
  <section id="options" class="section is-medium">
    <div class="container">
      <h1 class="title has-text-grey custom-size-1">Options</h1>

      <div v-if="selectedOption == 'license-free'">
        <h1
          class="subtitle has-text-white-bis has-text-weight-bold custom-size-2"
        >
          License-Free
        </h1>
        <div class="columns options-info has-text-white is-vcentered">
          <div class="column is-one-third has-text-right options-logos">
            <img src="../assets/lora.png" />
            <img src="../assets/sigfox.png" />
          </div>
          <div class="column">
            <h2 class="subtitle has-text-white">
              Typically operating on the 900MHz ISM bands, unlicensed LPWAN
              provides solutions with the most flexibility in architecture and
              business models. It is possible to deploy.
            </h2>
          </div>
        </div>
      </div>

      <!-- Licensed -->
      <div v-if="selectedOption == 'licensed'">
        <h1
          class="subtitle has-text-white-bis has-text-weight-bold custom-size-2"
        >
          Licensed
        </h1>
        <div class="columns options-info has-text-white is-vcentered">
          <div class="column is-one-third has-text-right options-logos">
            <img src="../assets/nb-iot.png" />
            <img src="../assets/lte-m.png" />
          </div>
          <div class="column">
            <h2 class="subtitle has-text-white">
              5G, Cat M, NB-IoT are some of the standards that address
              challenges with LTE M2M architectures. Leveraging national and
              global network coverage for industrial assets offers connectivity
              possibilities that were previously not possible.
            </h2>
          </div>
        </div>
      </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="options-foot">
      <nav class="is-boxed is-fullwidth">
        <div class="container">
          <ul class="is-flex">
            <li class="is-active">
              <a
                @click="selectedOption = 'license-free'"
                :class="{ 'is-active': selectedOption == 'license-free' }"
                >License-Free</a
              >
            </li>
            <li>
              <a
                @click="selectedOption = 'licensed'"
                :class="{ 'is-active': selectedOption == 'licensed' }"
                >Licensed</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      selectedOption: 'license-free'
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/stylesheets/variables/_colors.scss';

#options {
  background-color: $main-gray;
  & .container {
    padding: 0.5rem;

    .title.custom-size-1 {
      margin-bottom: -3.25rem;
      font-size: 6rem;
    }
    .subtitle.custom-size-2 {
      padding-left: 3.5rem;
      font-size: 5rem;
    }
  }

  .options-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      padding: 1rem;
      max-width: 175px;
      max-height: 150px;

      min-height: 77px;
      min-width: 140px;

      &:nth-child(2) {
        padding-top: 3rem;
      }
    }
  }

  .options-foot ul {
    justify-content: center;

    li {
      padding: 0 3rem;

      a {
        font-size: 1.5rem;
        color: hsl(0, 0%, 71%);

        &:hover {
          text-decoration: underline;
        }
      }

      a.is-active {
        color: hsl(0, 0%, 98%);
        text-decoration: underline;
      }
    }
  }
}
</style>
