<template>
  <div id="app">
    <Navbar />
    <router-view />
  </div>
</template>
<script>
import Navbar from '@/layout/Navbar.vue'

export default {
  components: {
    Navbar
  }
}
</script>
<style lang="scss">
@import '@/stylesheets/main.scss';
</style>
