<template>
  <nav
    class="navbar is-fixed-top"
    role="navigation"
    aria-label="main navigation"
  >
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img class="navbar-logo" src="@/assets/logo.png" />
        </a>

        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
          :class="{ 'is-active': burgerIsActive }"
          @click="toggleBurger"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div
        id="navbarBasicExample"
        class="navbar-menu"
        :class="{ 'is-active': burgerIsActive }"
      >
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Capabilities</a>

            <div class="navbar-dropdown is-left">
              <a class="navbar-item">Edge analytics</a>
              <a class="navbar-item">IoT Infrastructure</a>
              <a class="navbar-item">Hardware</a>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Solutions</a>

            <div class="navbar-dropdown is-left">
              <a class="navbar-item">LPWA Network</a>
              <a class="navbar-item">Condition Monitoring</a>
              <a class="navbar-item">Edge Hardware</a>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">About</a>

            <div class="navbar-dropdown is-left">
              <a class="navbar-item">Team</a>
              <a class="navbar-item">News</a>
              <a class="navbar-item">Jobs</a>
              <hr class="navbar-divider" />
              <a class="navbar-item">Contact</a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Schedule a Demo</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      burgerIsActive: false
    }
  },
  methods: {
    toggleBurger: function() {
      this.burgerIsActive = !this.burgerIsActive
    }
  }
}
</script>

<style lang="scss">
@import '@/stylesheets/variables/_colors.scss';
.navbar-menu.is-active {
  box-shadow: none;
}

.navbar-logo {
  padding-right: 0.75rem;
}

// must remove drop-shadow on navbar-menu when in using burger-is-active
</style>
